/*for vars*/

html,
body {
  height: 100%;
}

body {
  background: #fff;
}

.fa {
  font-size: 3em;
  color: white;
}

.nav-link {
  padding: .3em;
}

#mynavbar {
  color: white;
  padding: .5em;
  background-color: grey;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mytip {
  margin-top: 1em;
  padding: .5em;
  font-size: 1.5em;
  background-color: grey;
}

.chapterwrapper {
  color: grey;
  padding: 3em;
  text-align: center;
}

.left {
  text-align: left;
}

#credits h1 {
  margin-top: .5em;
}

#credits h3 {
  margin: .3em;
}